*{
    font-family: monospace;
    background-color: yellow;
    color: rgb(0, 0, 0);
    margin: 0%;
}

#res{
    font-size: 80px;
    text-align: right;
    margin-right: 0px;
    border: 4px solid;    
    border: black;
    background-color: black;
    color: blanchedalmond;
}
#btn{
    height: 80px;
    border: 4px solid;
    border-color: rgb(0, 0, 0);
    width: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: black;
}
.con{
    margin: 5%;
}
.bts{
    margin-top: 60px;
    grid-template-columns: 25% 25% 25% 25%;
    display: grid;
    column-gap: 0px;
}

hr{
    margin-top: 10%;
    color: black;
    background: black;
    border: black;
    height: 2px;
}

p{
    text-align: center;
    font-weight: 900;
    margin-top: 3%;
}

@media (min-width:320px){
    #btn{
        height: 50px;
        width: 50px;
    }
    #res{
        font-size: 50px;
        margin-right: 0%;
    }
}
@media (min-width:375px){
    #btn{
        height: 60px;
        width: 60px;
    }
    #res{
        font-size: 50px;
        margin-right: 0%;
    }
}
@media (min-width:425px){
    #btn{
        height: 70px;
        width: 70px;
    }
    #res{
        font-size: 60px;
        margin-right: 0%;
    }
}
@media (min-width:768px){
    #btn{
        height: 80px;
        width: 80px;
    }
    #res{
        font-size: 60px;
        margin-right: 0%;
    }
}
@media (min-width:1024px){
    #btn{
        height: 90px;
        width: 90px;
    }
    #res{
        font-size: 65px;
    }
}
@media (min-width:1440px){
    #btn{
        height: 100px;
        width: 100px;
    }
    #res{
        font-size: 70px;
    }
    body{
        width: 70%;
        margin: auto;
    }
}
@media (min-width:2560px){
    #btn{
        height: 120px;
        width: 120px;
        font-size: 40px;
    }
    #res{
        font-size: 70px;
        margin-right: 9%;
    }
    body{
        width: 70%;
        margin: auto;
    }
}